name: Java CI con Maven y JaCoCo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4
    
    - name: Configurar JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Ejecutar Tests e Informe JaCoCo
      run: mvn clean jacoco:prepare-agent test install jacoco:report

    - name: Publicar Informe de Cobertura
      uses: madrapps/jacoco-report@v1.7.1
      if: always() # Para que se ejecute aunque fallen los tests
      with:
        # Ruta donde JaCoCo genera el archivo XML (basado en tu pom.xml)
        paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 100 # Tu requisito de la práctica
        min-coverage-changed-files: 100
        title: "Resumen de Cobertura - Gestión de Síntomas"